/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body, p {
  color: $main-text-color;
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #df1818;
}

.clickable {
  cursor: pointer;
}

.btn {
  margin: 2px;
}

.btn-ghost {
  background-color: transparent !important;
  color: $main-color !important;
  border: 1px solid $main-color !important;
  font-size: 12px !important;

  &:hover, &:focus {
    background-color: transparent;
    color: $main-color;
    border: 1px solid $main-color;
  }
}


.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}


.btn-bookwithme {
  background-color: $main-color !important;
  border-color: $main-color !important;
  color: white !important;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.bookwithme-form {
  color: $main-text-color;

  form {
    margin-bottom: 10px;
  }

  .alert {
    p {
      margin: 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}

/***** Adding the below styles for Toaster as it had issues
https://github.com/scttcper/ngx-toastr/issues/605
 *****/
/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
